/* TOP-HEADER */
.top-header{
    background-color: #4ecaff;
}
.top-header i {
    position: absolute;
    font-size: 21px;
    color: #d3f2ff;
}
.top-header p, .top-header span, .top-header a {
    color: #FFF;
}
.mar .hov:hover i {
    color: black;
}
.mar .hov:hover span {
    color: black;
}
.mar .hov:hover a {
    color: black;
}
.first-i {
    margin-top: 10px;
}
.contant {
    margin-left: 25px;
}
.top-header p {
    margin-top: 10px;
}
.top-header .top-header-i-none i {
    background-color: #d3f2ff;
    color: #4ecaff;
    position: relative;
    margin-left: auto;
    margin-top: 4px;
    padding: 5px;
}
.top-header-i-none {
    display: inline-block;  
    padding-right: 5px;
}
.tc i:hover {
    color: black;
    background-color: #4ecaff; 
}
@media(max-width:767px) {
	.tc {
        text-align: center;
    }
}
.mar {
    margin-left: auto;
    margin-right: auto;
}
.mar .col-md-offset-right-1 {
    min-width: 171px;
}

/* TOP-HEADER / */

/* MENU */

.menu {
    border: none;
    background-color: #44b8e9;
    border-radius: 0px;
}
.menu-brand {
    padding: 0;
}
.menu-brand img {
    width: 132px;
    padding-left: 20px;
}
.menu-ul-top {
    margin-top: 10px;
}
@media(max-width:767px){
    .menu-ul-top li {
        padding-top: 15px;
    }
    .menu .menu-collapse .menu-ul-top a {
        display: inline;
    }
}
.menu .menu-collapse .menu-ul-top a {
    color: #FFF;
}
.manu-navbar-header {
    margin-left: 10%;
}
/* Active MENU */
.my-active:before {
    content: "";
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 45%;
    height: 100%;
    min-height: inherit;
    display: block;
    position: absolute;
    top: 0px;
    left: 27px;
    color: #FFF;
}
.navbar-default .navbar-nav>li>a.my-active:focus {
    color: #FFF;
}
.my-active a:hover:before {
    border-color: #000;
}

/* MENU / */

/* FOOTER */
.footer-bg {
    background-color: #44b8e9;
}
.footer-bg p {
    color: #d9eefa;
}
.footer-row {
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-a {
    font-size: 11px;
    color: #d9eefa;
}
.footer-a:hover {
    text-decoration: none;
    color: black;
}
.footer-a:focus {
    text-decoration: none;
    color: #FFF;
}
.footer-icon {
    display: inline;
    background-color: #d9eefa;
    margin-right: 3px;
}
.footer-icon:hover {
    background-color: #44b8e9;
}
.footer-icon i {
    color: #44b8e9;
    padding: 3px;
}
.footer-icon i:hover {
    color: black;
}
.footer-text-left {
    text-align: center;
}
.footer-border {
    border-bottom: 1px solid #d9eefa;
    padding-bottom: 15px;
}
@media(max-width:991px){
    .footer-border {
        border-bottom: none;
    }
    .footer-text-left {
        text-align: left;
    }
    .footer-border-1{
        border-bottom: 1px solid #d9eefa;
    }
}
@media(max-width: 767px){
    .footer-border-1{
        border-bottom: none;
    }
    .footer-border-2{
        border-bottom: 1px solid #d9eefa;
    }
    .footer-text-center {
        text-align: center;
    }
}
.footer-img {
    float: left;
}
.footer-link {
    margin-top: 37px;
}
.mleft {
    margin-left: -5px;
}
/* FOOTER / */



/* styles Vynarchyk A.*/
/*style for franshiza*/
.a-menu{
    color: #4ecaff;
}
.a-ulstyle{
    list-style-type: none;
    padding: 0;
}
.a-bold{
    font-weight: bold;
}
.a-forbutton .a-btn{
    border-radius: 0;
    min-width: 100px;
    border: 1px solid #46b8da;
    background-color: #fff;
    color: #46b8da;
    text-transform: uppercase;
    margin: 30px 0;
}
/* end styles franshiza*/
/* end styles*/



/* styles Karhut M.*/
/*style for contacnt*/
body{
overflow-x:hidden;
}
.content-form > div h3,
.content-form > div p.line {
   color: #4ecaff;
}
.content-form > div >div:nth-of-type(3) button {
    margin: 30px;
    border-radius: 0;
	min-width: 100px;
	border: 1px solid #46b8da;
    background-color: #fff;
    color: #46b8da;
    text-transform: uppercase;
}
.content-form > div >div:nth-of-type(3) {
    margin-bottom: 40px;
}
.content-form > div >div:nth-of-type(3) button.btn-act {
    background-color: #46b8da;
    color: #fff;
}
form input[type='submit'] {
    border-radius: 0;
	text-transform:uppercase;
}
.container-fluid.content-form {
    margin-bottom: 50px;
}
.form {
    margin-top: 30px;
}
.left {
    float:left;
	color: #4ecaff;
}
.left + p{
	margin-left: 25px;
}
@media(max-width:767px){
	.inp-form{
		width: 84%;
		margin: 0 auto;
	}
}
/*end style contact*/
/* end styles*/




/* styles Shymovski O.*/

/* end styles*/